$path-font: "../font";
@font-face {
  font-family: "Snyder";
  src: url($path-font + "/SnyderSpeedBrush.ttf");
}

@font-face {
  font-family: "Lemonade";
  src: url($path-font + "/LemonadePeach.otf");
}
