@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  #head-section {
    .name {
      h1 {
        font-size: 35px;
      }
    }
    .status {
      p {
        width: 90%;
        font-size: 2.1rem;
      }
    }
    .location {
      i {
        font-size: 20px;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
  #contact-section {
    p {
      font-size: 1.6rem;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}

@media only screen and (max-width: 1023px) and (orientation: portrait) {
  #head-section {
    .name {
      h1 {
        font-size: 35px;
      }
    }
    .status {
      p {
        width: 90%;
        font-size: 27px;
      }
    }
    .location {
      i {
        font-size: 20px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  #contact-section {
    p {
      font-size: 1.25rem;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  #head-section {
    .name {
      h1 {
        font-size: 25px;
      }
    }
    .status {
      p {
        width: 90%;
        font-size: 1rem;
      }
    }
    .location {
      i {
        font-size: 15px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  #contact-section {
    
    img {
      width: 40px;
      height: 40px;
    }
  }
}
