@media screen and (min-width: 1024px) {
  #head-section {
    .name {
      h1 {
        font-size: 35px;
      }
    }
    .status {
      p {
        width: 90%;
        font-size: 25px;
      }
    }
    .location {
      i {
        font-size: 20px;
      }
      p {
        font-size: 25px;
      }
    }
    .contact {
      .contact-btn {
        width: 150px;
        padding: 10px 20px;
        font-size: 20px;
      }
      .mess-btn {
        width: 150px;
        padding: 10px 20px;
        font-size: 20px;
      }
    }
  }
  #contact-section {
    p {
      font-size: 25px;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #head-section {
    .name {
      h1 {
        font-size: 35px;
      }
    }
    .status {
      p {
        width: 90%;
        font-size: 27px;
      }
    }
    .location {
      i {
        font-size: 20px;
      }
      p {
        font-size: 20px;
      }
    }
    .contact {
      .contact-btn {
        width: 130px;
      }
      .mess-btn {
        width: 130px;
      }
    }
  }
  #contact-section {
    p {
      font-size: 20px;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #head-section {
    .name {
      h1 {
        font-size: 25px;
      }
    }
    .status {
      p {
        width: 90%;
        font-size: 20px;
      }
    }
    .location {
      i {
        font-size: 15px;
      }
      p {
        font-size: 14px;
      }
    }
    .contact {
      .contact-btn {
        width: 100px;
      }
      .mess-btn {
        width: 100px;
      }
    }
  }
  #contact-section {
    p {
      font-size: 20px;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #head-section {
    .name {
      h1 {
        font-size: 25px;
      }
    }
    .status {
      p {
        width: 90%;
        font-size: 17px;
      }
    }
    .location {
      i {
        font-size: 15px;
      }
      p {
        font-size: 18px;
      }
    }
    .contact {
      .contact-btn {
        width: 130px;
      }
      .mess-btn {
        width: 130px;
      }
    }
  }
  #contact-section {
    p {
      font-size: 16px;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}
