* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  max-width: 100%;
  animation: gradient 5s ease infinite;
  background-size: 300% 500%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h2 {
  text-align: center;
  font-family: tahoma;
  font-size: 250%;
}

.container p:nth-child(2),
.container p:nth-child(3) {
  margin: 15px;
}
#ava {
  border-radius: 50%;
  width: 225px;
  height: 225px;
  display: block;
  object-fit: contain;
  object-position: initial;
  filter: none;
  margin-left: auto;
  margin-right: auto;
  margin: 20px auto;
}

@media only screen and (max-width: 800px) {
  .navbar-brand {
    background: url(./images/logo1.jpg) no-repeat center;
    width: 70px;
  }
}



.item,.item1, .item2,.item3,.item4 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 30px auto;
  border: 2px solid #fff;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.item:hover, .item3:hover {
  background-color: rgb(17, 139, 221);
  color: black !important;
  transition: 0.5s;
}
.item1:hover {
  background-color: rgb(221, 31, 17);
  color: black !important;
  transition: 0.5s;
}
.item2:hover {
  background-color: rgb(10, 6, 6);
  color: black !important;
  transition: 0.5s;
}
.item4:hover {
  background-color: rgb(28, 204, 28);
  color: black !important;
  transition: 0.5s;
}

.mlem a {
  width: 90%;
  text-align: center;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 25%) {
  .ava {
    width: 25% !important;
    height: 25% !important;
  }
}

@media only screen and (min-width: 1000px) {
  .btn-item {
    width: 50% !important;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
