body {
    background: url("../images/hero-bg.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 510px !important;
}
.content {
    background: #FFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 50px 1px;
    top: 0;
}
#hero-section {
    margin-top: 80px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(158, 158, 158);
    .avatar {
        position: absolute;
        top: -60px;
        width: 100%;
        text-align: center;
        .thumb {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 3px solid #FFFF;
            background-color: #7a7a7a;
            background-image: url("../images/avatar-img.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
    .name {
        align-items: center;
        padding-top: 60px;
        h1 {
            font-size: 30px;
            font-weight: bold;
            padding-right: 5px;
        }
        i {
            color: #0C88EF;
        }
    }
    .status {
        p {
            margin-bottom: 5px;
        }
    }
    .location {
        span {
            padding-right: 5px;
        }
    }
    .contact {
        :nth-child(n) {
            margin-bottom: 15px;
            width: 125px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 14px;
            padding-top: 3px;
            padding-bottom: 3px;
            color: #FFFF;
            padding: 5px 15px;
        }
        .button-contact {
            margin-left: 30px;
            margin-right: 20px;
            background: #3d81db;
        }
        .button-message {
            margin-right: 30px;
            background: rgb(73, 73, 73);
        }
    }
}

#contact-section {
    padding: 25px 15px;
    margin-bottom: 50px;
    .list-menu {
        text-decoration: none;
        font-weight: bold;
        color: #292929;
        display: block;
        margin-bottom: 15px;
        padding: 15px 25px;
        border-radius: 7px;
        box-shadow: 0px 3px 10px #8d8d8d;
        transition: 0.3s all ease-in-out;
        img {
            max-width: 35px;
            margin-right: 15px;
            border-radius: 50%;
        }
        span {
            margin: auto;
        }
    }
    .list-menu:hover {
        background: #ffc400ab;
    }
}

#footer {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 1px solid #8d8d8d;
    position: fixed;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    background: #ebf1ff;
    text-align: center;
    p {
        display: inline;
    }
    a {
        text-decoration: none;
    }
}
  
  